<!DOCTYPE html>
<html>
<head>
    <title>Historique</title>
    <link rel="icon" href="{{ url_for('static', filename='etk_youth.jpeg') }}">
<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="theme-color" content="#0ea5e9">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="navbar">
    📊 Historique |
    <a href="/dashboard">Dashboard</a>
    <a href="/">Accueil</a>
    <a href="/logout">Déconnexion</a>

</div>

<div class="container">

<h2>📅 Historique des collectes</h2>

{% for c in collectes %}
<div class="collecte-card">

    <div class="collecte-header">
        <span class="collecte-date">{{ c.date_collecte }}</span>
        <span>💰 {{ c.montant }} FCFA</span>
    </div>

    <div class="collecte-body">
        👥 Payeurs : {{ c.total_paye or 0 }} / {{ c.total_membres }}
    </div>

</div>
{% endfor %}
</div>
<script>
if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("/static/sw.js")
        .then(() => console.log("Service Worker enregistré"))
        .catch(err => console.log("Erreur SW:", err));
}
</script>
</body>
</html>