<!DOCTYPE html>
<html>
<head>
    <title>Collecte</title>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="theme-color" content="#0ea5e9">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='etk_youth.jpeg') }}">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="navbar">
    💰 Nouvelle collecte |
    <a href="/dashboard">Dashboard</a>
    <a href="/">Accueil</a>
    <a href="/logout">Déconnexion</a>

</div>

<div class="card form-card">

    <h2>💰 Nouvelle collecte</h2>

    <form method="post">

        <div class="form-group">
            <label>Date</label>
            <input type="date" name="date" required>
        </div>

        <div class="form-group">
            <label>Montant (FCFA)</label>
            <input type="number" name="montant" required>
        </div>

        <h3>👥 Présents</h3>

        <div class="members-grid">
            {% for m in membres %}
            <label class="member-card">
                <input type="checkbox" name="membres" value="{{ m.id }}">
                <span>{{ m.nom }}</span>
            </label>
            {% endfor %}
        </div>

        <br>
        <button type="submit">Enregistrer</button>

    </form>

</div>
<script>
if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("/static/sw.js")
        .then(() => console.log("Service Worker enregistré"))
        .catch(err => console.log("Erreur SW:", err));
}
</script>
</body>
</html>