<!DOCTYPE html>
<html>
<head>
    <title>Collecte</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="navbar">
    💰 Nouvelle collecte |
    <a href="/dashboard">Dashboard</a>
    <a href="/">Accueil</a>
    <a href="/logout">Déconnexion</a>

</div>

<div class="card form-card">

    <h2>💰 Nouvelle collecte</h2>

    <form method="post">

        <div class="form-group">
            <label>Date</label>
            <input type="date" name="date" required>
        </div>

        <div class="form-group">
            <label>Montant (FCFA)</label>
            <input type="number" name="montant" required>
        </div>

        <h3>👥 Présents</h3>

        <div class="members-grid">
            {% for m in membres %}
            <label class="member-card">
                <input type="checkbox" name="membres" value="{{ m.id }}">
                <span>{{ m.nom }}</span>
            </label>
            {% endfor %}
        </div>

        <br>
        <button type="submit">Enregistrer</button>

    </form>

</div>
</html>