<!DOCTYPE html>
<html>
<head>
    <title>Accueil</title>
<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="theme-color" content="#0ea5e9">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='etk_youth.jpeg') }}">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="navbar">
    🏠 Accueil |
    <a href="/dashboard">Dashboard</a>
    <a href="/collecte">Collecte</a>
    <a href="/dettes">Dettes</a>
    <a href="/logout">Déconnexion</a>
</div>

<div class="container">

<div class="card">
    <h2>👥 Ajouter un membre</h2>

    <form method="POST" action="/add_membres">
        <input type="text" name="nom" placeholder="Nom du membre" required>
        <button type="submit">Ajouter</button>
    </form>
</div>

<div class="card">
    <h2>📋 Liste des membres</h2>

    <table>
        <tr>
            <th>Nom</th>
            <th>Action</th>
        </tr>

        {% for m in membres %}
        <tr>
            <td>{{ m.nom }}</td>
            <td>
                <a href="/delete_membres/{{ m.id }}">
                    <button class="btn-danger">Supprimer</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

</div>
<script>
if ("Notification" in window) {
    Notification.requestPermission().then(permission => {
        console.log("Permission:", permission);
    });
}

function envoyerNotification(titre, message) {
    if (Notification.permission === "granted") {
        new Notification(titre, {
            body: message,
            icon: "/static/icons/youth_etk.jpeg"
        });
    }
}

window.addEventListener("online", () => {
    const data = localStorage.getItem("collecte_temp");

    if (data) {
        fetch("/collecte", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: data
        })
        .then(() => {
            localStorage.removeItem("collecte_temp");
            console.log("Sync réussie ✅");
        });
    }
});

if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("/static/sw.js")
        .then(() => console.log("Service Worker enregistré"))
        .catch(err => console.log("Erreur SW:", err));
}
</script>
</body>
</html>