<!DOCTYPE html>
<html>
<head>
    <title>Connexion</title>
<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="theme-color" content="#0ea5e9">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='etk_youth.jpeg') }}">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="auth-container">

    <div class="card auth-card">
        <h2>🔐 Connexion</h2>

        <form method="POST">
            <div class="form-group">
                <input type="text" name="username" placeholder="Nom utilisateur" required>
            </div>

            <div class="form-group">
                <input type="password" name="password" placeholder="Mot de passe" required>
            </div>

            <button type="submit">Se connecter</button>
        </form>

        <p class="auth-link">
            Pas de compte ? <a href="/register">Créer un compte</a>
        </p>
    </div>

</div>

<script>
if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("/static/sw.js")
        .then(() => console.log("Service Worker enregistré"))
        .catch(err => console.log("Erreur SW:", err));
}
</script>
</body>
</html>