<!DOCTYPE html>
<html>
<head>
    <title>Inscription</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="auth-container">

    <div class="card auth-card">
        <h2>📝 Inscription</h2>

        <form method="POST">

            <div class="form-group">
                <input type="text" name="username" placeholder="Nom utilisateur" required>
            </div>

            <div class="form-group">
                <input type="password" name="password" placeholder="Mot de passe" required>
            </div>

            <div class="form-group">
                <select name="role" required>
                    <option value="">Choisir un rôle</option>
                    <option value="admin">Admin</option>
                    <option value="tresorier">Trésorier</option>
                </select>
            </div>

            <button type="submit">Créer le compte</button>

        </form>

        <p class="auth-link">
            Déjà un compte ? <a href="/login">Se connecter</a>
        </p>
    </div>

</div>

</body>
</html>